html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #f2f2f2;
  width: 1200px;

}

.wrapper {
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
  width: 1200px;
  margin: 0 40px 0 40px;


}


a {
  text-decoration: none;

}

.main-header-logo {}



.main-navigation {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  line-height: 22px;
  background-color: #ffffff;


  background-position: 1200px 56px;
  color: #000000;

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.title-apartmens:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.title-apartmens:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header-welcome {
  padding-top: 132px;
  height: 550px;
  background-image: url("../img/background-photo.jpg");
  background-position: 0px 0px;

  background-repeat: no-repeat;
  background-size: 1200px 800px;

}



.advantages {
  text-align: center;
  background-color: #ffffff;
}

.title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

.offers {
  text-align: center;
  background-color: #ffffff;
}

.offers-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.offers-info {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.form {
  text-transform: uppercase;
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.button-search,
.button-submit {
  font-family: PTSans;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.button-search {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.button-search:hover,
.button-reserve:hover {
  background-color: #604e43;
}

.button-search:focus,
.button-reserve:focus {
  background-color: #503e33;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.button-submit:hover,
.button-details:hover {
  background-color: #669ec0;
}

.button-submit:focus,
.button-details:focus {
  background-color: #5496bd;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.form {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}


p.footer-contacts {
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.tel {
  width: 223px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}


.footer-social {
  list-style: none;
}

.tw-icon {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  background-image: url("../img/tw-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;

}

.tw-icon:hover,
.fb-icon:hover,
.youtube-icon:hover {
  background-color: #669ec0;
}

.tw-icon:focus,
.fb-icon:focus,
.youtube-icon:focus {
  background-color: #5496bd;
  object-fit: contain;
  opacity: 0.3;
}

.fb-icon {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 22px;
}

.youtube-icon {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  background-image: url("../img/youtube-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}


.footer {
  width: 74px;
  height: 11px;
  font-family: PTSans;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}


.logo-html:hover {
  background-color: #81b3d2;
}

.logo-html:focus {
  background-color: #bdbbbc;
}

ul {
  list-style: none;
}

.title-apartmens {
  text-decoration: none;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.housing,
.price {
  font-family: PTSans;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

.button-details,
.button-reserve {
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.button-details {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-reserve {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.rating {
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
}




.wrapper {
  width: 1200px;
  position: relative;


}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.header-welcome {
  display: block;
  margin: 0;
  padding-left: 370px;
}



.main-navigation {
  margin: 0px;
  height: 56px;
}





.site-navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;


  height: 56px;
  width: 1200px;
  margin: 0;
  padding: 0;


}

.site-navigation a {
  display: block;
}



.site-navigation li {
  padding: 0;
  padding-top: 22px;
  text-align: center;
  margin: 0px;
  height: 56px;
  width: 239px;

}

.site-navigation li:nth-child(2) {
  margin-right: 244px;
}



.form-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  height: 395px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 65px;

}


footer {
  width: 1200px;
  height: 120px;
  padding-top: 36px;




}


.footer-conteiner {
  display: flex;
  justify-content: space-around;


}

.footer-contacts {
  width: 223px;
  height: 52px;

  margin: 0;

}


.footer-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 48px;


}

.footer {
  display: flex;
  margin-right: 8px;
  width: 197px;
  border-top: 3px;
  margin-left: 101px;
}

.apartmens {
  width: 1200px;

}

.apartmens-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.apartmens-item {
  border-bottom: 1px solid #666666;
  display: flex;
  margin: auto
}

.hotel-picture {
  padding: 74px 30px 30px 30px;
  order: -1;
}


.apartmens-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;

}
