html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
  background-color: #f2f2f2;
  width: 1200px;

}

.wrapper {
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
  width: 1200px;
  margin: 0 40px 0 40px;


}


a {
  text-decoration: none;

}

.main-header-logo {}



.main-navigation {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  line-height: 22px;
  background-color: #ffffff;


  background-position: 1200px 56px;
  color: #000000;

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.title-apartmens:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.title-apartmens:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header-welcome {
  padding-top: 132px;
  height: 557px;
  background-image: url("../img/background-photo.jpg");
  background-position: 0px -34px;

  background-repeat: no-repeat;
  background-size: 1200px 800px;


}






.advantages {
  text-align: center;
  background-color: #ffffff;
}

.title {
  margin-top: 61px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  margin-top: 38px;
  margin-bottom: 56px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.advantages ul {
  display: flex;
  flex-wrap: wrap;

}


.advantages-item h3 {


  margin: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

}

.advantages-item p {
  margin: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: lowercase;

}

.advantages-container h3,
.advantages-container p {
  color: #ffffff;
}

.advantages-item {
  display: flex;
  min-height: 256px;
}

.advantages-wrap {
  width: 400px;
  min-height: 330px;
  padding-top: 60px;
  padding-bottom: 85px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}



.advantages-wrap svg {

  order: -2
}






.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  width: 400px;
  height: 256px;
  padding: 46px 60px 64px 60px;
  background-color: #81b3d2;
}

.causes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 256px;
  width: 400px;
  padding: 50px 77px 64px 77px;


  background-color: #eeeeee;
}





.offers {
  text-align: center;
  background-color: #ffffff;
}

.offers-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.offers-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.form {
  text-transform: uppercase;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.form-adults label {
  width: 71px;
  height: 11px;
  text-transform: uppercase;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.button-search,
.button-submit {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.button-search {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.button-search:hover,
.button-reserve:hover {
  background-color: #604e43;
}

.button-search:focus,
.button-reserve:focus {
  background-color: #503e33;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.button-submit:hover,
.button-details:hover {
  background-color: #669ec0;
}

.button-submit:focus,
.button-details:focus {
  background-color: #5496bd;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.form {
  width: 568px;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}


p.footer-contacts {
  margin: 0;
  margin-bottom: 16px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.tel {
  width: 223px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}


.footer-social {
  list-style: none;
}


.footer {
  width: 74px;
  height: 11px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}


.logo-html:hover {
  fill: #81b3d2;
}

.logo-html:focus {
  fill: #bdbbbc;
}

ul {
  list-style: none;
  padding-left: 0;
}



.title-apartmens h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  width: 210px;
}

.housing,
.price {
  font-family: "PTSans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

.button-details,
.button-reserve {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.button-details {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-reserve {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.rating {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
}




.wrapper {
  width: 1200px;
  position: relative;


}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.header-welcome {
  display: block;
  margin: 0;
  padding-left: 370px;
}



.main-navigation {
  margin: 0px;
  height: 56px;
}





.site-navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;


  height: 56px;
  width: 1200px;
  margin: 0;
  padding: 0;


}

.site-navigation a {
  display: block;
}



.site-navigation li {
  padding: 0;
  padding-top: 22px;
  text-align: center;
  margin: 0px;
  height: 56px;
  width: 239px;

}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}



.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.form {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  width: 568px;
  padding: 55px;

}


.form-date {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

}



.form-date input {

  margin-left: auto;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 14px;
  border: 0;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}



.calendar-date {
  position: absolute;
  z-index: 200;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  fill: #a9a9a9;


}







.adults-children {
  display: flex;
  width: 100%;
  min-height: 38px;
  justify-content: space-between;
}

.form-adults {
  display: flex;
  margin: 0;
  align-items: baseline;
  text-align: center;
}


.form-adults button,
.form-adults input,
.form-children button,
.form-children input {
  border: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  text-align: center;


}

.form-adults label {
  margin-right: 41px;
  width: 71px;
  height: 11px;
  text-align: center;

}

.form-children {
  display: flex;
  margin: 0;
  align-items: baseline;
}


.form-children label {
  margin-right: 27px;


}

.button-submit {
  margin-top: 54px;
  padding: 0;
}





footer {
  margin-top: -122px;
  width: 1200px;
  height: 120px;
  padding-top: 36px;
  opacity: 90%;
  background-color: #f2f2f2;




}


.footer-container {
  margin-left: 132px;
  margin-right: 101px;
  display: flex;
  justify-content: center;


}

.container-contacts {
  margin-bottom: 32px;
  margin-right: auto;
}


.footer-social {
  display: flex;

  justify-content: space-between;
  width: 150px;
  min-height: 48px;
  margin: 0;

}

.footer-copyright {
  display: flex;
  margin-right: 8px;
  width: 197px;
  margin: 0;
  margin-left: auto;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.logo-html {
  margin-left: 8px;
  fill: #231f20;
}



.social-button {
  display: flex;
  margin-right: 6px;
  object-fit: contain;
  fill: #ffffff;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
  object-fit: contain;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}


.apartmens {
  width: 1200px;

}



.apartmens-item {
  display: flex;
  border-bottom: 1px solid #666666;

  width: 1200px;

}

.hotel-picture {
  padding: 74px 30px 30px 30px;
  order: -1;
}


.apartmens-conteiner {

  padding-top: 30px;
  padding-bottom: 30px;
  width: 963px;
}


.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;


}


.rating {
  margin-left: 522px;


}

.housing-price {
  display: flex;
  width: 183px;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 20px;
}

/*.rating::before {
  content: " ";
  position: relative;
  top: 100px;
  left: 100px;
  background-image: url("../img/star.svg");
  display: block;
  width: 18px;
  height: 17px;

}*/

.wrap-apartmens {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 963px;

}

.title-apartmens {
  position: relative;
}

.star-four {
  position: absolute;
  right: 72px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 90px;
  height: 17px;

}


.star-three {
  position: absolute;
  right: 72px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 66px;
  height: 17px;

}

.star-two {
  position: absolute;
  right: 72px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 42px;
  height: 17px;
}

/*
display: flex;
flex-wrap: wrap;
width: 108px;
justify-content: space-between;
margin-left: auto;*/
.container-button {
  display: inline-flex;
  width: 963px;
}

.block.rating {
  margin-top: 0;
  margin-left: auto;
}


.content {
  position: relative;
}

.content::before {
  position: absolute;
  top: -118px;
  left: -2px;
  content: " ";
  background-image: url(../img/polygon.png);
  width: 1203px;
  height: 59px;
}
